<div id="palm-dialog-content" class="palm-dialog-content">
	<div id="dialog-title" class="dialog-title" x-mojo-loc=""></div>    
	     
	<div class="palm-dialog-separator"></div>
	
	<div class="palm-group">
		<div class="palm-group-title" x-mojo-loc='' id='categoryGroupLabel'></div>
		<div class="palm-list">
			
			<div class="palm-row single">
				<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight='true'>
					<div class='title'>
						<div class='label' id='categoryNameLabel'>Category</div>
						<div id="categoryName" x-mojo-element="TextField"></div>
					</div>
				</div>
			</div>
						
		</div>
	</div>
</div>

<div class="palm-dialog-buttons">
	<div id='updateCategory' x-mojo-element="Button"></div>
</div>