<div id="palm-dialog-content" class="palm-dialog-content">
	<div id="dialog-title" class="dialog-title" x-mojo-loc=""></div>    
	     
	<div class="palm-dialog-separator"></div>
	
	<div class="palm-group">
		<div class="palm-group-title" x-mojo-loc='' id='vehicleGroupLabel'></div>
		<div class="palm-list">
			
			<div class="palm-row first">
				<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight='true'>
					<div class='title'>
						<div class='label' id='vehicleNameLabel'>Vehicle</div>
						<div id="vehicleName" x-mojo-element="TextField"></div>
					</div>
				</div>
			</div>
			
			<div class="palm-row">
				<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight='true'>
					<div class='title'>
						<div class='label' id='vehicleMileageLabel'>Mileage</div>
						<div id="vehicleLastMileage" x-mojo-element="TextField"></div>
					</div>
				</div>
			</div>
			
			<div class="palm-row last">
				<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight='true'>
					<div class='title'>
						<div class='label' id='vehicleRateLabel'>Rate</div>
						<div id="vehicleRate" x-mojo-element="TextField"></div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</div>

<div class="palm-dialog-buttons">
	<div id='updateVehicle' x-mojo-element="Button"></div>
</div>