<div class='palm-scene palm-dark'>
	<div class="palm-page-header">
		<div class="palm-page-header-wrapper">
			<div class ="title left">Export</div>
		</div>
	</div>
	
	
	
	<!--<div class="palm-list"> -->
	<!--  <div id="vehicleListWgt" x-mojo-element="List"></div> -->
	<!--</div> -->
	
	<div id='goButton', x-mojo-element="Button"></div>
	
	<div id="scrimContainer" class="palm-scrim">
		<div id="accountSpinner" x-mojo-element="Spinner"></div>
		<div class="infoText" id="exportInformation"></div>
		<div class="infoText" id="completionRate"></div>
	</div>
</div>