<div id="palm-dialog-content" class="palm-dialog-content">
	<div id="dialog-title" class="dialog-title" x-mojo-loc="">
		#{text}
	</div>         
	<div class="palm-dialog-separator"></div>
	<div class="dialog-message">
		<div id="editdate-picker" x-mojo-element="DatePicker"></div>
		<div id="edittime-picker" x-mojo-element="TimePicker"></div>
	</div>
</div>

<div class="palm-dialog-buttons">
	<div id='useDateTime' x-mojo-element="Button"></div>
	<div id='useNow' x-mojo-element="Button"></div>
</div>