<div class="palm-scene palm-dark">
	<div class='header-ico' id='header-icon'></div>
	<div class='palm-header left' id='header-text'>Myles</div>
	<div class='palm-header-spacer'></div>
	<div id ='Scrim' class='palm-scrim'>
		<div id='Spinner' x-mojo-element='Spinner' class='palm-activity-indicator-large'></div>
	</div>
	
	<div id="totalMiles" class='mytotal'></div>

	<div id='listScene' class='listScene'>
		<div x-mojo-element='List' id='listing'>
		</div>	
	</div>
	<div id='output' class='mylist'></div>
</div>
